<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="app_nav">

  <ul class="nav nav-pills">
  <li>
    <%= link_to posts_path, class: "button" do %>
      <i class="glyphicon glyphicon-home gi-4x"></i>
    <% end %>
  </li>

  <div class="nav_text">
    PURO
  </div>

  <li>
    <%= link_to new_post_path, class: "button" do %>
      <i class="glyphicon glyphicon-comment gi-4x"></i>
    <% end %>
  </li>

  <div class="nav_text">
    TWEETER
  </div>

  <li>
    <% if @current_user %>
        <%= link_to user_path(username: @current_user.username), class: "button" do %>
          <i class="glyphicon glyphicon-user gi-4x"></i>
        <% end %>
      <% else %>
      <%= link_to posts_path, class: "button" do %>
        <i class="glyphicon glyphicon-user gi-4x"></i>
        <% end %>
    <% end %>
  </li>
</ul>

</div>

<div class="welcome">
  <% if @current_user %>
      ¡Bienvenido, @<%= @current_user.username %>!
  <% end %>
</div>



<%= yield %>

</body>
</html>
